* {
  margin: 0px;
  padding: 0px;
}

.comment-wrapper{
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
}

/*CUSTOMIZING SCROLLBAR*/
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8a4de6;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}